.dark-high-contrast {
  --md-sys-color-primary: rgb(191 255 206);
  --md-sys-color-surface-tint: rgb(150 213 166);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(146 209 162);
  --md-sys-color-on-primary-container: rgb(0 15 4);
  --md-sys-color-secondary: rgb(223 246 225);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(178 200 181);
  --md-sys-color-on-secondary-container: rgb(0 15 5);
  --md-sys-color-tertiary: rgb(213 246 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(158 202 214);
  --md-sys-color-on-tertiary-container: rgb(0 13 17);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(234 242 232);
  --md-sys-color-outline-variant: rgb(189 197 187);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(20 82 47);
  --md-sys-color-primary-fixed: rgb(177 241 193);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(150 213 166);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 7);
  --md-sys-color-secondary-fixed: rgb(210 232 212);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(182 204 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(4 21 9);
  --md-sys-color-tertiary-fixed: rgb(190 234 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 25);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(76 81 76);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(28 33 28);
  --md-sys-color-surface-container: rgb(44 50 45);
  --md-sys-color-surface-container-high: rgb(55 61 56);
  --md-sys-color-surface-container-highest: rgb(67 72 67);
  --md-extended-color-success-color: rgb(211 252 183);
  --md-extended-color-success-on-color: rgb(0 0 0);
  --md-extended-color-success-color-container: rgb(166 206 141);
  --md-extended-color-success-on-color-container: rgb(2 14 0);
}
