.dark-medium-contrast {
  --md-sys-color-primary: rgb(171 235 187);
  --md-sys-color-surface-tint: rgb(150 213 166);
  --md-sys-color-on-primary: rgb(0 45 21);
  --md-sys-color-primary-container: rgb(97 158 115);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(204 226 206);
  --md-sys-color-on-secondary: rgb(23 42 28);
  --md-sys-color-secondary-container: rgb(129 150 132);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(184 228 240);
  --md-sys-color-on-tertiary: rgb(0 42 50);
  --md-sys-color-tertiary-container: rgb(109 151 163);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(223 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 223 212);
  --md-sys-color-outline: rgb(172 180 171);
  --md-sys-color-outline-variant: rgb(138 146 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 39);
  --md-sys-color-inverse-primary: rgb(20 82 47);
  --md-sys-color-primary-fixed: rgb(177 241 193);
  --md-sys-color-on-primary-fixed: rgb(0 21 7);
  --md-sys-color-primary-fixed-dim: rgb(150 213 166);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 32);
  --md-sys-color-secondary-fixed: rgb(210 232 212);
  --md-sys-color-on-secondary-fixed: rgb(4 21 9);
  --md-sys-color-secondary-fixed-dim: rgb(182 204 184);
  --md-sys-color-on-secondary-fixed-variant: rgb(40 58 44);
  --md-sys-color-tertiary-fixed: rgb(190 234 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 25);
  --md-sys-color-tertiary-fixed-dim: rgb(162 206 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(11 60 70);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 65);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 47);
  --md-sys-color-surface-container-highest: rgb(58 63 58);
  --md-extended-color-success-color: rgb(191 232 165);
  --md-extended-color-success-on-color: rgb(13 44 0);
  --md-extended-color-success-color-container: rgb(118 155 95);
  --md-extended-color-success-on-color-container: rgb(0 0 0);
}
